/*
“StAuth10065: I Noah Varghese, 000753196 certify that this material is my original work. 
No other person’s work has been used without due acknowledgement. 
I have not made my work available to anyone else.”
*/
.About {
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    .hero {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 100%;
        img {
            width: 100%;
            height: 100%;
            z-index: 2;
            object-fit: cover;
        }
        .heroOverlay {
            font-family: Montserrat;
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 10rem);
            max-width: 100%;
            color: white;
            z-index: 3;
            margin-top: 10rem;
            margin-left: 10rem;

            * {
                margin-top: 4rem;
                margin-bottom: 4rem;
            }
            h1 {
                font-weight: 700;
            }
            h2 {
                font-weight: 500;
            }
            p {
                font-family: Roboto;
                font-weight: 300;
            }
        }
    }
}
