input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}

label {
    font-family: Montserrat;
    font-size: 1.5rem;
}

input {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 300;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    min-width: 15rem;
    width: 25rem;
    margin: 2rem 0;
}
