/*
“StAuth10065: I Noah Varghese, 000753196 certify that this material is my original work. 
No other person’s work has been used without due acknowledgement. 
I have not made my work available to anyone else.”
*/
.ButtonCell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        margin: 1rem;
        border: none;
        outline: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-family: Roboto;
        font-weight: 500;

        &:hover {
            box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.3);
        }

        &.Edit {
            background-color: #357266;
        }

        &.Delete {
            background-color: #0e3b43;
        }
    }
}
