/*
“StAuth10065: I Noah Varghese, 000753196 certify that this material is my original work. 
No other person’s work has been used without due acknowledgement. 
I have not made my work available to anyone else.”
*/
.Row {
    height: 4rem;
    box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in;
    z-index: 1;
    border-collapse: separate;
    border-spacing: 1rem;
    border-left: 5px solid black;
}

.Row:hover {
    transform: scale(1.01);
    z-index: 3;
    cursor: pointer;
}

td {
    text-align: center;
}
